body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-bottom: 1px;
}

h1 {
    font-weight: normal;
    font-size: 160%;
}

h2 {
    font-weight: normal;
    font-size: 150%;
}

h3 {
    font-weight: normal;
    text-align: center;
}

h4 {
    margin-bottom: 0px;
}

.title {
    font-variant-caps: small-caps;
    margin-bottom: -0.2em;
}
.subtitle {
    font-variant-caps: small-caps;
    font-weight: normal;
}

div.bibentry {
    padding-left: 2em;
    text-indent: -2em;
}

blockquote {
    display: none;
}

a {
    text-decoration: none;
    color: blue;
}

nav a:visited {
    color: black;
}

nav a {
    color: black;
}

pre {
    min-width: 0;
}

img {
    vertical-align: middle;
}

dd a img {
    border: 1px;
    border-style: solid;
}

dt {
    margin-top: 2em;
}

img.thumbnail {
    max-width: 100px;
    max-height: 100px;
    float: right;
    border: 1px;
    border-style: solid;
}

#profilepic1 {
    display: none;
}

#profilepic2 {
    width: 30%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    padding: 0px;
    padding-left: 10px;
    white-space: nowrap;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}

#postamble {
    display: none;
}

.date:before {
  content: "Date: ";
}

.date {
    color: grey;
}

.timestamp {
    color: black;
}

nav {
    position: sticky;
    top: 0px;
    left: 0px;
    font-size: 80%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 5px;
}

main {
    padding: 20px;
    overflow: auto;
}

hr {
    display: none;
}

@supports (display: inline-grid) {
    @media screen and (min-width: 600px)  {
        body {
            font-size: 120%;
            display: inline-grid;
            grid-template-columns: 1fr 6fr;
            grid-gap: 0px;
        }
        nav {
            grid-column: 1;
            height: 100vh;
            text-align: center;
            font-size: inherit;
            margin: 0px;
            background-color: white;
            padding: 20px;
        }
        nav ul {
            padding: 0px;
            margin: 0px;
            margin-top: 10px;
        }
        nav li {
            display: list-item;
            padding: 0px;
        }
        main {
            padding: 0px;
            padding-right: 20px;
            padding-top: 0px;
            grid-column: 2;
            grid-gap: 0px;
            box-sizing: border-box;
        }
        .title {
            text-align: left;
        }
        .subtitle {
            text-align: left;
            margin-bottom: 0.5em;
        }
        header {
            margin-top: 50px;
            margin-bottom: 2em;
        }
        #profilepic1 {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        #profilepic2 {
            display: none;
        }
      hr {
          display: block;
      }
    }

    @media screen and (min-width: 1000px) {
        #grid-contact {
            width: 100%;
            display: inline-grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
        }
    }
}

.btn {
    font-family: Helvetica, Arial, sans;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

iframe {
    width: 90%;
    max-width: 560px;
}

.btn:hover, .btn:focus {
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.timestamp-wrapper {
    float: right;
    display: block;
    text-align: right;
}
.timestamp {
    color: gray;
    font-size: 80%;
}

div.NEWS > ul {
    margin: 0px;
    padding: 0px;
}

.address > p {
    padding: 0px;
    margin: 0px;
}

div.NEWS > ul > li {
    background-color: #f0f0f0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 5px;
    list-style-type: none;
    border-radius: 15px;
}
